<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-5">
    <div class="card shadow p-4 col-md-4 mx-auto">

        <h3 class="text-center text-success">Signup as HOD</h3>

        <form method="post" action="/Account/Register">

            <input type="text" name="Name" placeholder="Full Name" class="form-control mb-3" required />

            <input type="email" name="Email" placeholder="Email" class="form-control mb-3" required />

            <input type="password" name="Password" placeholder="Password" class="form-control mb-3" required />

            <!-- School Dropdown -->
            <select name="Department" class="form-control mb-3" required>
                <option value="">Select School</option>

                <option value="School of Infotech">School of Infotech</option>
                <option value="Business School">Business School</option>
                <option value="School of Pharmacy">School of Pharmacy</option>

            </select>

            <input type="hidden" name="Role" value="HOD" />

            <button class="btn btn-success w-100">Register as HOD</button>
        </form>

        <p class="text-center mt-3">
            Already have account? <a href="/Account/Login">Login</a>
        </p>
    </div>
</div>